@charset "UTF-8";
@font-face {
  font-family: "muddyIcon";
  /* Project id 2559662 */
  src: url("muddyIcon.woff2?t=1621906852370") format("woff2"), url("muddyIcon.woff?t=1621906852370") format("woff"), url("muddyIcon.ttf?t=1621906852370") format("truetype");
}
.muddyIcon {
  font-family: "muddyIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social_linkedin-copy:before {
  content: "";
}

.icon-view:before {
  content: "";
}

.icon-view_off:before {
  content: "";
}

.icon-message:before {
  content: "";
}

.icon-message_unread:before {
  content: "";
}

.icon-record:before {
  content: "";
}

.icon-time-lock:before {
  content: "";
}

.icon-credits:before {
  content: "";
}

.icon-renew:before {
  content: "";
}

.icon-order:before {
  content: "";
}

.icon-order_unread:before {
  content: "";
}

.icon-cart_empty:before {
  content: "";
}

.icon-cart:before {
  content: "";
}

.icon-edit_pen:before {
  content: "";
}

.icon-share_link:before {
  content: "";
}

.icon-share_more:before {
  content: "";
}

.icon-setting_screw:before {
  content: "";
}

.icon-upload_up:before {
  content: "";
}

.icon-download_down:before {
  content: "";
}

.icon-play_round:before {
  content: "";
}

.icon-location_region:before {
  content: "";
}

.icon-discount_round:before {
  content: "";
}

.icon-notification_bells:before {
  content: "";
}

.icon-notification_bells_off:before {
  content: "";
}

.icon-phonecall:before {
  content: "";
}

.icon-phonecall_off:before {
  content: "";
}

.icon-lock_up:before {
  content: "";
}

.icon-unlock_up:before {
  content: "";
}

.icon-ET:before {
  content: "";
}

.icon-flow:before {
  content: "";
}

.icon-setting_filter:before {
  content: "";
}

.icon-calculator:before {
  content: "";
}

.icon-image:before {
  content: "";
}

.icon-e-mail:before {
  content: "";
}

.icon-copy_file:before {
  content: "";
}

.icon-username:before {
  content: "";
}

.icon-customer_service:before {
  content: "";
}

.icon-sub_account:before {
  content: "";
}

.icon-partner:before {
  content: "";
}

.icon-list:before {
  content: "";
}

.icon-international:before {
  content: "";
}

.icon-close_filled:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-close_round:before {
  content: "";
}

.icon-check_filled:before {
  content: "";
}

.icon-forbidden:before {
  content: "";
}

.icon-forbidden_filled:before {
  content: "";
}

.icon-info_filled:before {
  content: "";
}

.icon-info_round:before {
  content: "";
}

.icon-help_filled:before {
  content: "";
}

.icon-help_round:before {
  content: "";
}

.icon-caution:before {
  content: "";
}

.icon-caution_filled:before {
  content: "";
}

.icon-like:before {
  content: "";
}

.icon-like_filled:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-star_filled:before {
  content: "";
}

.icon-arrow_up:before {
  content: "";
}

.icon-arrow_left:before {
  content: "";
}

.icon-arrow_down:before {
  content: "";
}

.icon-arrow_right:before {
  content: "";
}

.icon-social_fb:before {
  content: "";
}

.icon-social_linkedin:before {
  content: "";
}

.icon-social_sina:before {
  content: "";
}

.icon-social_google:before {
  content: "";
}

.icon-social_naver:before {
  content: "";
}

.icon-social_stackflow:before {
  content: "";
}

.icon-social_youtube:before {
  content: "";
}

.icon-social_github:before {
  content: "";
}

.icon-social_twitter:before {
  content: "";
}

.icon-applets:before {
  content: "";
}

.icon-social_wechat:before {
  content: "";
}

.icon-social_server_fault:before {
  content: "";
}

.icon-balance:before {
  content: "";
}

.icon-go_to_link:before {
  content: "";
}

.icon-benefits:before {
  content: "";
}

.icon-dingtalk:before {
  content: "";
}

.icon-alipay:before {
  content: "";
}

.icon-taobao:before {
  content: "";
}

.icon-icon-test85:before {
  content: "";
}

.icon-arrow-right-bold:before {
  content: "";
}

.icon-select-bold:before {
  content: "";
}

.icon-arrow-up-filling:before {
  content: "";
}

.icon-arrow-down-filling:before {
  content: "";
}

.icon-arrow-left-filling:before {
  content: "";
}

.icon-arrow-right-filling:before {
  content: "";
}

.icon-caps-unlock-filling:before {
  content: "";
}

.icon-comment-filling:before {
  content: "";
}

.icon-check-item-filling:before {
  content: "";
}

.icon-clock-filling:before {
  content: "";
}

.icon-delete-filling:before {
  content: "";
}

.icon-decline-filling:before {
  content: "";
}

.icon-dynamic-filling:before {
  content: "";
}

.icon-intermediate-filling:before {
  content: "";
}

.icon-favorite-filling:before {
  content: "";
}

.icon-layout-filling:before {
  content: "";
}

.icon-help-filling:before {
  content: "";
}

.icon-history-filling:before {
  content: "";
}

.icon-filter-filling:before {
  content: "";
}

.icon-file-common-filling:before {
  content: "";
}

.icon-news-filling:before {
  content: "";
}

.icon-edit-filling:before {
  content: "";
}

.icon-fullscreen-expand-filling:before {
  content: "";
}

.icon-smile-filling:before {
  content: "";
}

.icon-rise-filling:before {
  content: "";
}

.icon-picture-filling:before {
  content: "";
}

.icon-notification-filling:before {
  content: "";
}

.icon-user-filling:before {
  content: "";
}

.icon-setting-filling:before {
  content: "";
}

.icon-switch-filling:before {
  content: "";
}

.icon-work-filling:before {
  content: "";
}

.icon-task-filling:before {
  content: "";
}

.icon-success-filling:before {
  content: "";
}

.icon-warning-filling:before {
  content: "";
}

.icon-folder-filling:before {
  content: "";
}

.icon-map-filling:before {
  content: "";
}

.icon-prompt-filling:before {
  content: "";
}

.icon-meh-filling:before {
  content: "";
}

.icon-cry-filling:before {
  content: "";
}

.icon-top-filling:before {
  content: "";
}

.icon-home-filling:before {
  content: "";
}

.icon-sorting:before {
  content: "";
}

.icon-3column:before {
  content: "";
}

.icon-column-4:before {
  content: "";
}

.icon-add:before {
  content: "";
}

.icon-add-circle:before {
  content: "";
}

.icon-adjust:before {
  content: "";
}

.icon-arrow-up-circle:before {
  content: "";
}

.icon-arrow-right-circle:before {
  content: "";
}

.icon-arrow-down:before {
  content: "";
}

.icon-ashbin:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-browse:before {
  content: "";
}

.icon-bottom:before {
  content: "";
}

.icon-back:before {
  content: "";
}

.icon-bad:before {
  content: "";
}

.icon-arrow-double-left:before {
  content: "";
}

.icon-arrow-left-circle:before {
  content: "";
}

.icon-arrow-double-right:before {
  content: "";
}

.icon-caps-lock:before {
  content: "";
}

.icon-camera:before {
  content: "";
}

.icon-chart-bar:before {
  content: "";
}

.icon-attachment:before {
  content: "";
}

.icon-code:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-check-item:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-comment:before {
  content: "";
}

.icon-column-vertical:before {
  content: "";
}

.icon-column-horizontal:before {
  content: "";
}

.icon-complete:before {
  content: "";
}

.icon-chart-pie:before {
  content: "";
}

.icon-cry:before {
  content: "";
}

.icon-customer-service:before {
  content: "";
}

.icon-delete:before {
  content: "";
}

.icon-direction-down:before {
  content: "";
}

.icon-copy:before {
  content: "";
}

.icon-cut:before {
  content: "";
}

.icon-data-view:before {
  content: "";
}

.icon-direction-down-circle:before {
  content: "";
}

.icon-direction-right:before {
  content: "";
}

.icon-direction-up:before {
  content: "";
}

.icon-discount:before {
  content: "";
}

.icon-direction-left:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-electronics:before {
  content: "";
}

.icon-drag:before {
  content: "";
}

.icon-elipsis:before {
  content: "";
}

.icon-export:before {
  content: "";
}

.icon-explain:before {
  content: "";
}

.icon-edit:before {
  content: "";
}

.icon-eye-close:before {
  content: "";
}

.icon-email:before {
  content: "";
}

.icon-error:before {
  content: "";
}

.icon-favorite:before {
  content: "";
}

.icon-file-common:before {
  content: "";
}

.icon-file-delete:before {
  content: "";
}

.icon-file-add:before {
  content: "";
}

.icon-film:before {
  content: "";
}

.icon-fabulous:before {
  content: "";
}

.icon-file:before {
  content: "";
}

.icon-folder-close:before {
  content: "";
}

.icon-filter:before {
  content: "";
}

.icon-good:before {
  content: "";
}

.icon-hide:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-history:before {
  content: "";
}

.icon-file-open:before {
  content: "";
}

.icon-forward:before {
  content: "";
}

.icon-import:before {
  content: "";
}

.icon-image-text:before {
  content: "";
}

.icon-keyboard-26:before {
  content: "";
}

.icon-keyboard-9:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-layout:before {
  content: "";
}

.icon-fullscreen-shrink:before {
  content: "";
}

.icon-layers:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-fullscreen-expand:before {
  content: "";
}

.icon-map:before {
  content: "";
}

.icon-meh:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-loading:before {
  content: "";
}

.icon-help:before {
  content: "";
}

.icon-minus-circle:before {
  content: "";
}

.icon-modular:before {
  content: "";
}

.icon-notification:before {
  content: "";
}

.icon-mic:before {
  content: "";
}

.icon-more:before {
  content: "";
}

.icon-pad:before {
  content: "";
}

.icon-operation:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-print:before {
  content: "";
}

.icon-mobile-phone:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-navigation:before {
  content: "";
}

.icon-pdf:before {
  content: "";
}

.icon-prompt:before {
  content: "";
}

.icon-move:before {
  content: "";
}

.icon-refresh:before {
  content: "";
}

.icon-run-up:before {
  content: "";
}

.icon-picture:before {
  content: "";
}

.icon-run-in:before {
  content: "";
}

.icon-pin:before {
  content: "";
}

.icon-save:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-scanning:before {
  content: "";
}

.icon-security:before {
  content: "";
}

.icon-sign-out:before {
  content: "";
}

.icon-select:before {
  content: "";
}

.icon-stop:before {
  content: "";
}

.icon-success:before {
  content: "";
}

.icon-smile:before {
  content: "";
}

.icon-switch:before {
  content: "";
}

.icon-setting:before {
  content: "";
}

.icon-survey:before {
  content: "";
}

.icon-task:before {
  content: "";
}

.icon-skip:before {
  content: "";
}

.icon-text:before {
  content: "";
}

.icon-time:before {
  content: "";
}

.icon-telephone-out:before {
  content: "";
}

.icon-toggle-left:before {
  content: "";
}

.icon-toggle-right:before {
  content: "";
}

.icon-telephone:before {
  content: "";
}

.icon-top:before {
  content: "";
}

.icon-unlock:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-upload:before {
  content: "";
}

.icon-work:before {
  content: "";
}

.icon-training:before {
  content: "";
}

.icon-warning:before {
  content: "";
}

.icon-zoom-in:before {
  content: "";
}

.icon-zoom-out:before {
  content: "";
}

.icon-add-bold:before {
  content: "";
}

.icon-arrow-left-bold:before {
  content: "";
}

.icon-arrow-up-bold:before {
  content: "";
}

.icon-close-bold:before {
  content: "";
}

.icon-arrow-down-bold:before {
  content: "";
}

.icon-minus-bold:before {
  content: "";
}

/*# sourceMappingURL=muddyIcon.css.map */
