@charset "UTF-8";
/*每个页面公共css */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

html, body {
  width: 100%;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", "微软雅黑", sans-serif;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  overflow-y: scroll;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: inline-block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

/*隐藏*/
.dn {
  display: none;
}

/* 变量样式 */
/* 常用文本类型的样式表 */
/* 变量样式 */
/* 文本颜色 */
.text-primary {
  color: #3d73f6;
  text-align: center;
}

.text-warning {
  color: #f4a94d;
  text-align: center;
}

.text-danger {
  color: #db5049;
  text-align: center;
}

.text-success {
  color: #69b169;
  text-align: center;
}

.text-secondary {
  color: #6e757c;
  text-align: center;
}

.text-light {
  color: #f8f9fa;
  text-align: center;
}

.text-dark {
  color: #353a3f;
  text-align: center;
}

.text-white {
  color: #ffffff;
  text-align: center;
}

.text-black {
  color: #000000;
  text-align: center;
}

.text-description {
  color: #848484;
  text-align: center;
}

/*文本格式化，超出范围，显示省略号*/
.text-ellipsis-1 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
}

.text-ellipsis-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
}

.text-ellipsis-3 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-weight {
  font-weight: bold !important;
}

.text-weight-500 {
  font-weight: 500 !important;
}

.text-weight-600 {
  font-weight: 600 !important;
}

.text-weight-normal {
  font-weight: normal !important;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* flex弹性盒子样式表 */
/* 变量样式 */
.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.flex-fill {
  flex: flex-fill !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

/* 浮动样式表 */
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* 背景样式表 */
/* 变量样式 */
/* 文本颜色 */
.bg-primary {
  background-color: #3d73f6 !important;
}

.bg-warning {
  background-color: #f4a94d !important;
}

.bg-danger {
  background-color: #db5049 !important;
}

.bg-success {
  background-color: #69b169 !important;
}

.bg-secondary {
  background-color: #6e757c !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-dark {
  background-color: #353a3f !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-description {
  background-color: #848484 !important;
}

/* 盒模型样式表 */
/* 变量样式 */
.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.p-auto {
  padding: auto !important;
}

.px-auto {
  padding: 0 auto !important;
}

.py-auto {
  padding: auto 0 !important;
}

.m-auto {
  margin: auto !important;
}

.mx-auto {
  margin: 0 auto !important;
}

.my-auto {
  margin: auto 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-hidden-x {
  overflow-x: hidden !important;
}

.overflow-hidden-y {
  overflow-y: hidden !important;
}

.border {
  border: 1rpx solid #ebebeb !important;
}

.border-top {
  border-top: 1px solid #ebebeb !important;
}

.border-right {
  border-right: 1px solid #ebebeb !important;
}

.border-bottom {
  border-bottom: 1px solid #ebebeb !important;
}

.border-left {
  border-left: 1px solid #ebebeb !important;
}

.hover-hand {
  cursor: pointer;
}

.shadow-none {
  box-shadow: none !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

/* 对齐方式 */
/* 变量样式 */
.align-baseline {
  vertical-align: baseline !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.align-text-top {
  vertical-align: text-top !important;
}

.align-text-bottom {
  vertical-align: text-bottom !important;
}

.text-justify {
  text-align: justify !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/* 对齐方式 */
/* 变量样式 */
.align-baseline {
  vertical-align: baseline !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.align-text-top {
  vertical-align: text-top !important;
}

.align-text-bottom {
  vertical-align: text-bottom !important;
}

.text-justify {
  text-align: justify !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

/* 尺寸 */
/* 变量样式 */
.w-5 {
  width: 5% !important;
}

.h-5 {
  height: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.h-10 {
  height: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.h-15 {
  height: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.h-20 {
  height: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.h-25 {
  height: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.h-30 {
  height: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.h-35 {
  height: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.h-40 {
  height: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.h-45 {
  height: 45% !important;
}

.w-50 {
  width: 50% !important;
}

.h-50 {
  height: 50% !important;
}

.w-55 {
  width: 55% !important;
}

.h-55 {
  height: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.h-60 {
  height: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.h-65 {
  height: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.h-70 {
  height: 70% !important;
}

.w-75 {
  width: 75% !important;
}

.h-75 {
  height: 75% !important;
}

.w-80 {
  width: 80% !important;
}

.h-80 {
  height: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.h-85 {
  height: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.h-90 {
  height: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.h-95 {
  height: 95% !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-auto {
  height: auto !important;
}

.vh-100 {
  height: 100vh !important;
}

.vw-100 {
  width: 100vw !important;
}

.w-100-textarea {
  width: 100%;
}
.w-100-textarea input {
  width: 100%;
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

/* 定位样式表 */
.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

/*在Chrome下移除input[number]的上下箭头*/
.no-number::-webkit-outer-spin-button,
.no-number::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none !important;
}

.no-number input[type=number]::-webkit-outer-spin-button,
.no-number input[type=number]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none !important;
}

/*在firefox下移除input[number]的上下箭头*/
.no-number {
  -moz-appearance: textfield;
}

.no-number input[type=number] {
  -moz-appearance: textfield;
}

/** 边框 */
/* 变量样式 */
.border {
  border: 1px solid #dee2e6 !important;
}

.border-none {
  border: none;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-sm {
  border-radius: 0.2rem !important;
}

.rounded-lg {
  border-radius: 0.3rem !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-top-none {
  border-top: none !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-left-none {
  border-left: none !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-right-none {
  border-right: none !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-bottom-none {
  border-bottom: none !important;
}

.border-primary {
  border-color: #3d73f6 !important;
}

.border-warning {
  border-color: #f4a94d !important;
}

.border-danger {
  border-color: #db5049 !important;
}

.border-success {
  border-color: #69b169 !important;
}

.border-secondary {
  border-color: #6e757c !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #353a3f !important;
}

.border-white {
  border-color: #ffffff !important;
}

.border-black {
  border-color: #000000 !important;
}

.border-description {
  border-color: #848484 !important;
}

.radio-50 {
  border-radius: 50% !important;
}

/* 变量样式 */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary:focus {
  color: #fff;
  background-color: #3d73f6;
  border-color: rgba(61, 115, 246, 0.95);
  box-shadow: 0 0 0 0.2rem rgba(61, 115, 246, 0.5);
}

.btn-primary {
  color: #fff;
  background-color: #3d73f6;
  border-color: #3d73f6;
}

.btn-outline-primary {
  color: #3d73f6;
  border-color: #3d73f6;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(61, 115, 246, 0.5);
}

.btn-warning:focus {
  color: #333;
  background-color: #f4a94d;
  border-color: rgba(244, 169, 77, 0.95);
  box-shadow: 0 0 0 0.2rem rgba(244, 169, 77, 0.5);
}

.btn-warning {
  color: #333;
  background-color: #f4a94d;
  border-color: #f4a94d;
}

.btn-outline-warning {
  color: #f4a94d;
  border-color: #f4a94d;
}

.btn-outline-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 169, 77, 0.5);
}

.btn-danger:focus {
  color: #fff;
  background-color: #db5049;
  border-color: rgba(219, 80, 73, 0.95);
  box-shadow: 0 0 0 0.2rem rgba(219, 80, 73, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #db5049;
  border-color: #db5049;
}

.btn-outline-danger {
  color: #db5049;
  border-color: #db5049;
}

.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(219, 80, 73, 0.5);
}

.btn-success:focus {
  color: #fff;
  background-color: #69b169;
  border-color: rgba(105, 177, 105, 0.95);
  box-shadow: 0 0 0 0.2rem rgba(105, 177, 105, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #69b169;
  border-color: #69b169;
}

.btn-outline-success {
  color: #69b169;
  border-color: #69b169;
}

.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 177, 105, 0.5);
}

.btn-secondary:focus {
  color: #fff;
  background-color: #6e757c;
  border-color: rgba(110, 117, 124, 0.95);
  box-shadow: 0 0 0 0.2rem rgba(110, 117, 124, 0.5);
}

.btn-secondary {
  color: #fff;
  background-color: #6e757c;
  border-color: #6e757c;
}

.btn-outline-secondary {
  color: #6e757c;
  border-color: #6e757c;
}

.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(110, 117, 124, 0.5);
}

.btn-light:focus {
  color: #fff;
  background-color: #f8f9fa;
  border-color: rgba(248, 249, 250, 0.95);
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-light {
  color: #fff;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-dark:focus {
  color: #fff;
  background-color: #353a3f;
  border-color: rgba(53, 58, 63, 0.95);
  box-shadow: 0 0 0 0.2rem rgba(53, 58, 63, 0.5);
}

.btn-dark {
  color: #fff;
  background-color: #353a3f;
  border-color: #353a3f;
}

.btn-outline-dark {
  color: #353a3f;
  border-color: #353a3f;
}

.btn-outline-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(53, 58, 63, 0.5);
}

.btn-white:focus {
  color: #fff;
  background-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-white {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-white {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-white:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-black:focus {
  color: #fff;
  background-color: #000000;
  border-color: rgba(0, 0, 0, 0.95);
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-black {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-outline-black {
  color: #000000;
  border-color: #000000;
}

.btn-outline-black:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-description:focus {
  color: #fff;
  background-color: #848484;
  border-color: rgba(132, 132, 132, 0.95);
  box-shadow: 0 0 0 0.2rem rgba(132, 132, 132, 0.5);
}

.btn-description {
  color: #fff;
  background-color: #848484;
  border-color: #848484;
}

.btn-outline-description {
  color: #848484;
  border-color: #848484;
}

.btn-outline-description:focus {
  box-shadow: 0 0 0 0.2rem rgba(132, 132, 132, 0.5);
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn:disabled {
  opacity: 0.65;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.card .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  flex-shrink: 0;
  width: 100%;
}

.card .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card .card-body .card-title {
  margin-bottom: 0.75rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
  display: table;
  border-spacing: 2px;
  border-color: grey;
}

.table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  box-sizing: border-box;
}

.table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  box-sizing: border-box;
}

.table.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table.table-bordered {
  border: 1px solid #dee2e6;
}

.table.table-bordered td,
.table.table-bordered th {
  border: 1px solid #dee2e6;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden-x {
  overflow-x: hidden !important;
}

.overflow-hidden-y {
  overflow-y: hidden !important;
}

.overflow-scoll-x {
  overflow-x: scroll !important;
}

.overflow-scoll-y {
  overflow-y: scroll !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* 变量样式 */
/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.hover-hand {
  cursor: pointer;
}

form {
  display: block;
  margin-top: 0em;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 1rem;
}
.form-group .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group .form-control.form-control option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.form-group .form-controltextarea {
  overflow: auto;
  resize: vertical;
}
.form-group .form-control.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.form-group .form-control.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.form-group .form-control:disabled, .form-group .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.form-group .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-group .form-text {
  display: block;
  margin-top: 0.25rem;
}

/*# sourceMappingURL=app.css.map */
