// 自动溢出
.overflow-auto {
    overflow: auto !important;
}

// x轴 隐藏
.overflow-hidden-x {
    overflow-x: hidden !important;
}

// y轴 隐藏
.overflow-hidden-y {
    overflow-y: hidden !important;
}

// x轴 滚动
.overflow-scoll-x {
    overflow-x: scroll !important;
}

// y轴 滚动
.overflow-scoll-y {
    overflow-y: scroll !important;
}

// 溢出隐藏
.overflow-hidden {
    overflow: hidden !important;
}